postgresql:
  parameters:
    archive_mode: "on"
    archive_timeout: 60s
    archive_command: >-
      /usr/bin/backmaster driver nsys-postgres wal-archive %p

# During recovery or from a future Patroni bootstrap method:
#    restore_command: >-
#      /usr/bin/backmaster driver nsys-postgres wal-restore %f %p
