# Install as /etc/backmaster/drivers/postgres/nsys-postgres.env.
BARMAN_SERVER_NAME=nsys-pg18
PGHOST=/var/run/postgresql
PGPORT=5431
PGUSER=postgres

AZURE_DESTINATION=https://REPLACE.blob.core.windows.net/REPLACE/nsys-postgresql
BACKUP_JOBS=2
MIN_CHUNK_SIZE=104857600
RETENTION_POLICY="RECOVERY WINDOW OF 14 DAYS"
MINIMUM_REDUNDANCY=2
HEALTHCHECK_MAX_AGE_SECONDS=129600

