INSTANCE_NAME=production-mongodb
DRIVER=mongodb
EXPORTER=rclone
NODE_NAME=axon

DRIVER_CONFIG=/etc/backmaster/drivers/mongodb/production-mongodb.env
DRIVER_SECRET_FILE=/etc/backmaster/secrets/production-mongodb-driver.env
EXPORTER_CONFIG=/etc/backmaster/exporters/rclone/production-mongodb.env
EXPORTER_SECRET_FILE=/etc/backmaster/secrets/production-mongodb-exporter.env

STAGING_ROOT=/var/lib/backmaster
BACKUP_ARCHIVE_FORMAT=files
MAX_AGE_SECONDS=82800
CONSUL_LOCK_KEY=service/backmaster/production-mongodb
CONSUL_LOCK_TIMEOUT=30s
BACKUP_NAME_MODE=daily-time
BACKUP_NAME_SUFFIX_MODE=hostname
