[Unit]
Description=Backmaster backup flow %i
Documentation=https://github.com/Nodsoft/Backmaster
Wants=network-online.target consul.service
After=network-online.target consul.service

[Service]
Type=oneshot
User=backmaster
Group=backmaster
Environment=BACKMASTER_CONFIG_ROOT=/etc/backmaster
Environment=BACKMASTER_INSTALL_ROOT=/usr/lib/backmaster
ExecStart=/usr/bin/backmaster run %i
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
TimeoutStartSec=12h
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
StateDirectory=backmaster/%i
StateDirectoryMode=0750
ReadOnlyPaths=/etc/backmaster /usr/lib/backmaster
ReadWritePaths=/var/lib/backmaster/%i /run
RestrictSUIDSGID=true
